
body {
	margin: 0;
	color: #656565;
	font: 16px/2.25 Arial, Helvetica, sans-serif;
	background: #f9f6ea;
}

/*Верхнее меню*/
.header{
	background-image:url(../img/logo.png);
	overflow: hidden;
	height: 130px;
}
.logo{
	float: left;
	background-image:url(../img/logo1.png);
	width: 221px;
    height: 24px;
	text-indent: -180px;
	margin: 56px;
}

.header nav{
	overflow: hidden;
}
.menu{
	text-align: right;
	font-size: 15px;
	margin: 50px;
	font-weight: bold;
	font-variant: small-caps;
}
.menu li{
	display: inline;
	margin: 34px;
}
.menu li a{
	color: #fff;
	text-decoration: none;
}
.menu li a:hover{
	color: #ffc600;
	text-decoration: underline;
}
/*Белый фон*/
.wrapper{
	width: 980px;
	margin: -20px auto 0;
	background-color: #fff;
	height: 1230px;
}
h3{
	color: black;
}
/*Кнопки внизу*/
.bottum{
	letter-spacing: 5px;
	height: 15px;
	padding-left: 5px;
}
.bottum li{
	display: inline-block;
	border: 1px solid #dbd6c6;
	background-color: #fdfbf1;
	text-align: center;
	height: 33px;
    width: 33px;
}
.bottum li:hover{
	background-color: #f0ede0;
}
.bottum li a{
	text-decoration: none;
	color: #656565;
}
/*Правая колонка*/
.aside{
	width: 339px;
	float: right;
	margin-top: 52px;
	line-height: 20px;
}
.aside h3{
	text-align: center;
}
.aside blockquote{
	box-shadow: 0px 0px 0px 3px #ededed, 0px 0px 0px 7px #fdfbf1, 0px 0px 0px 10px #ededed;
    padding: 10px;
}
.strong{
	text-align: right;
    font-weight: bold;
	color: #656565;
}
.blockquote{
	border-bottom: 1px solid #eaeaea;
	color: #8d8d8d;
	background-image: url(../img/bloquote.png);
	background-repeat: no-repeat;
}
.blockquote:last-child{
	border-bottom: none;
}
.advertice{
	float: right;
    margin: 24px;
	box-shadow: 0px 0px 0px 3px #ededed, 0px 0px 0px 7px #fdfbf1, 0px 0px 0px 10px #ededed;
	margin-right: 39px;
}
/*Левая колонка*/
.left-collum{
	box-shadow: inset 0px 0px 0px 3px #ededed, 0px 0px 0px 5px #fdfbf1, 0px 0px 0px 8px #ededed;
	padding: 20px;
	width: 568px;
	margin-bottom: 10px;
}
.section{
	overflow: hidden;
	width: 620px;
	padding-top: 28px;
    padding-left: 20px;
}
/*Блок с картинкой*/
.portfolio-image{
	float: right;
	display: table;
	padding-right: 10px;
}
.align-right{
	display: table-cell;
	margin-top: 15px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 0px 3px #ffffff, 0px 0px 0px 4px #fbfbfb, 0px 0px 0px 5px #eaeaea;
}
/*Блок с текстом*/
.portfolio-text{
	overflow: hidden;
	font-size: 15px;
    line-height: 20px;
}
/*Кнопка в блоке*/
.launch-project{
	border: 1px solid #dbd6c6;
    padding: 5px;
    background-color: #fdfbf1;
}
.launch-project a{
	text-decoration: none;
    color: #656565;
}
/*1 по очередности блок*/
.first{
	border-bottom: 1px solid #eaeaea;
	padding: 5px;
}
/*2 по очередности блок*/
.second{
	margin-top: 23px;
	border-bottom: 1px solid #eaeaea;
	padding: 5px;
}
/*3 по очередности блок*/
.third{
	margin-top: 23px;
	border-bottom: 1px solid #eaeaea;
	padding: 5px;
}

.border{
	border-top: 1px solid #eaeaea;
	margin-right: 15px;
}
.border p{
	color: #8d8d8d;
}


footer{
	background-color: #f9f6ea;
	width: 980px;
	margin: -20px auto 0;
	margin-top: 5px;
	padding: 10px;
}
.footer-information{
	text-align: right;
	line-height: 5px;
    font-size: 15px;
	margin-top: -16px;
	color: #656565;
}

.logo-footer{
	background-image: url(../img/logofooter.png);
	width: 107px;
	height: 10px;
	display: block;
    overflow: hidden;
	float: left;
	margin-left: 16px;
}
.logo-footer a{
	text-decoration: none;
}
